<section class="px-10 py-5">
    <div class="flex justify-between items-center">
        <a href="/acoes" class="relative text-4xl font-bold inline-block">
            Ações do Brasil
            <span class="absolute left-0 -bottom-1 w-full h-0.5 bg-[#000]"></span>
        </a>

        <div class="flex justify-center gap-10">
            <app-kpi-card title="Pts Ibovespa" [value]="ibov$ | async" [variation]="ibovPercent$ | async"></app-kpi-card>
            <app-kpi-card title="Ações" [value]="amountStocks$ | async"></app-kpi-card>
            <app-kpi-card title="Segmentos" [value]="segments$ | async"></app-kpi-card>
        </div>
    </div>
    
    <div class="flex justify-around mt-10">
        <app-asset-table title="Empresas Mais Caras" [rows]="riseStocks$ | async"></app-asset-table>
        <app-asset-table title="Empresa Mais Baratas" [rows]="downStocks$ | async"></app-asset-table>
        <app-asset-table title="maior Volume" [rows]="volumeStocks$ | async"></app-asset-table>
    </div>
</section> 