<section class="bg-slate-900 text-white">
    <div class="px-40 py-20 flex justify-between">
        <div class="text-center flex flex-col w-[60%]">
            <h1 class="text-4xl font-black mb-5">
                Conheça as ações do brasil 
                <br/>
                E faça uma análise de respeito.
            </h1>

            <p class="text-lg text-slate-400">
                Descubra tudo sobre as ações e todos os indices listada na bolsa de valores
            </p>
        </div>
        
        <div class=" w-[40%] flex justify-center gap-1 flex-wrap">
            <app-kpi-card title="Empresas"></app-kpi-card>
            <app-kpi-card title="Setores"></app-kpi-card>
            <app-kpi-card title="IPO"></app-kpi-card>
            <app-kpi-card title="IPO"></app-kpi-card>
            <app-kpi-card title="IPO"></app-kpi-card>
        </div>
    </div>
</section>